backend/myapp_flows.json
[
    {
        "id": "0ccca2864a862deb",
        "type": "tab",
        "label": "Dependencies",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "343bd1d1781d7763",
        "type": "socketio-config",
        "port": "8000",
        "sendClient": "true",
        "path": "/socket.io",
        "bindToNode": true
    },
    {
        "id": "258b10b8f37491f0",
        "type": "function",
        "z": "0ccca2864a862deb",
        "name": "Dependencies",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "openEasyrtc",
                "module": "open-easyrtc"
            }
        ],
        "x": 160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "074d8fe8f0da5dfc",
        "type": "socketio-in",
        "z": "0ccca2864a862deb",
        "name": "",
        "server": "343bd1d1781d7763",
        "rules": [
            {
                "v": ""
            }
        ],
        "x": 130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0eef32552d611e78",
        "type": "socketio-rooms",
        "z": "0ccca2864a862deb",
        "name": "",
        "server": "343bd1d1781d7763",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "00571b16bfa86521"
            ]
        ]
    },
    {
        "id": "08a0d9a7fe027034",
        "type": "inject",
        "z": "0ccca2864a862deb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "0eef32552d611e78"
            ]
        ]
    },
    {
        "id": "00571b16bfa86521",
        "type": "debug",
        "z": "0ccca2864a862deb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 400,
        "wires": []
    }
]